.main_body{
background: transparent url("../img/bubbles.jpg") no-repeat scroll center center / auto 100%;
min-width: 100%;
min-height: 100%;
position: fixed;
top: 0px;
left: 0px;
z-index: -1;

}

.all_block{;
padding:1%;
border-radius: 10px;
margin:2%;
min-width:95%;
min-height:91%;
background:black;
opacity:0.8;
overflow:hidden;
}

.all_block div{

}

.left_block{
float:left;
margin-right:4%;
}

.right_block{
float:left;
color:white;
display:block;
}


h3{
margin:0px;
font:138.5% Arial,Helvetica,sans-serif;
}

.preview tr td{
width:30px;
height:50px;
border:1px solid white;
padding-left:20px;
}

.setImage{
min-width: 100%;
min-height: 100%;
}

.bigtable tr td{
width:200px;
height:200px;
border:1px solid white;

}

.buttons{

margin-top:3%;
height:30px;}

.text{
opacity:0.8;
font-size:16px;
color:white;
width:45%;
position:absolute;
float:left;

}
